clientsNode {
   container(name: 'clients') {
      checkout scm
      sh "if ! oc get -n ${envStage} configmap app-config -o yaml | grep application.yml; then oc create -n ${envStage} configmap app-config --from-file=application.yml; fi"
      sh "if ! oc get -n ${envProd} configmap app-config -o yaml | grep application.yml; then oc create -n ${envProd} configmap app-config --from-file=application.yml; fi"
   }
}